<div class="search-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {{input type="search"
        value=searchInput
        placeholder="Find Video"
        class="form-control search-field"}}
      </div>
    </div>
  </div>
</div>

<div class="container" id="video-list">
  {{#if isFiltering}}
    <div class="row">
      <div class="col-xs-12">
        <h3 class="loading text-center">Searching...</h3>
      </div>
    </div>
    {{else}}
    {{#if searchResults}}
      <div class="row">
        {{#each searchResults}}

        <div class="col-md-6 video">
          <h4 class="video-title">
            {{#link-to 'video' this}}
              {{title}}
            {{/link-to}}
          </h4>
          {{#link-to 'video' this}}{{lazy-video provider=provider videoId=videoId classNames="embed-responsive embed-responsive-16by9"}}{{/link-to}}
        </div>

        {{/each}}
      </div>
    {{else}}
      {{#if query}}
      <div class="row">
        <div class="col-xs-12">
          <h3 class="loading text-center">No results found...</h3>
        </div>
      </div>
      {{/if}}
    {{/if}}
  {{/if}}

  <!-- <div class="row">
  <p><button type="button" class="btn btn-primary" {{action "loadVideos" this}}>Load More</button></p>
</div> -->
</div>
{{outlet}}
